.menu {
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.menu a {
  align-items: center;
  display: flex;
  gap: 1rem;
  height: 100%;
  width: 100%;
}

.menu button {
  border: none;
  display: grid;
  place-items: center;
}

.menu img {
  aspect-ratio: 1 / 1;
  height: 1.875rem;
  object-fit: contain;
  width: 1.875rem;
}

.menu li {
  align-items: center;
  border-radius: 2.5rem;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 0.5rem 1rem;
  width: 100%;
}

.menu li:hover {
  background-color: #edeced;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: fit-content;
  width: fit-content;
}
