.logo {
  align-items: center;
  display: flex;
  height: 100%;
  min-width: 14.375rem;
}

.logo h1 {
  font-size: 2rem;
}

.logo img {
  background-color: transparent;
}

.centeredLogo {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  min-width: 13.5rem;
}

.centeredLogo h1 {
  font-size: 3rem;
}
