.sidebar {
  padding: 0.625rem 1.875rem ;
}

.sidebar a {
  align-items: center;
  display: flex;
  height: 100%;
  padding: 0.625rem;
  width: 100%;
  gap: 0.625rem;
}

.sidebar img {
  aspect-ratio: 1 / 1;
  display: flex;
  height: 1.875rem;
  justify-content: center;
  margin: 0;
  object-fit: contain;
  padding: 0;
  width: 1.875rem;
}

.sidebar li {
  align-items: center;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.sidebar li:hover {
  background-color: #edeced;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar nav {
  display: flex;
  width: 100%;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
