.sidebar {
  padding: 0.5rem;
  font-size: 0.938rem;
}

.sidebar a {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;
  justify-content: center;
  padding: 0.5rem;
  width: 100%;
}

.sidebar img {
  aspect-ratio: 1 / 1;
  height: 1.875rem;
  margin: 0;
  object-fit: contain;
  padding: 0;
  width: 1.875rem;
}

.sidebar li {
  align-items: center;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar li:hover {
  background-color: #edeced;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar nav {
  height: 50%;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  width: min-content;
}
