.form div:hover .searchLight {
  background-color: #ebeaeb;
  fill: #1d0f0f;
}

.form div:hover .searchLight svg {
  background-color: transparent;
  fill: #1d0f0f;
}

.form div:hover input,
.form .searchLight:focus ~ input,
.form .searchLight:hover ~ input {
  border-right: none;
}

.form input:focus,
.form input:hover {
  border-right: none;
}

.form input:focus ~ .searchLight,
.form input:hover ~ .searchLight {
  background-color: #ebeaeb;
  fill: #1d0f0f;
  transition: background-color 0.3s ease, fill 0.3s ease;
}

.form input:focus ~ .searchLight svg,
.form input:hover ~ .searchLight svg {
  background-color: transparent;
  fill: #1d0f0f;
  transition: background-color 0.3s ease, fill 0.3s ease;
}
