.form div:hover .search {
  background-color: #3b3b40;
  fill: #ececed;
}

.form div:hover .search svg {
  background-color: transparent;
  fill: #ececed;
}

.form div:hover input,
.form .search:focus ~ input,
.form .search:hover ~ input {
  border-right: none;
}

.form input:focus,
.form input:hover {
  border-right: none;
}

.form input:focus ~ .search,
.form input:hover ~ .search {
  background-color: #3b3b40;
  fill: #ececed;
  transition: background-color 0.3s ease, fill 0.3s ease;
}

.form input:focus ~ .search svg,
.form input:hover ~ .search svg {
  background-color: transparent;
  fill: #ececed;
  transition: background-color 0.3s ease, fill 0.3s ease;
}
