@media (min-width: 1921px) {
  .section {
    height: 45rem;
  }
}

@media (min-width: 1600px) and (max-width: 1920px) {
  .section {
    height: 40rem;
  }
}

@media (min-width: 1440px) and (max-width: 1599px) {
  .section {
    height: 36rem;
  }
}

@media (min-width: 1366px) and (max-width: 1439px) {
  .section {
    height: 34rem;
  }
}

@media (min-width: 1280px) and (max-width: 1365px) {
  .section {
    height: 32rem;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .section {
    height: 26rem;
  }
}
